/* Import components */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/card.css");

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

/* Import fonts */
body {
    font-family: "Nunito", serif;
    margin: 0px auto;
    font-size: 15px;
    background-color: #DFDFDE;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

a {
    text-decoration: none;
}