/* Import components */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/card.css");

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

/* General CSS */
body {
    font-family: "Nunito", serif;
    margin: 0px auto;
    font-size: 15px;
    background-color: #DFDFDE;
}

.sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
}
.sidebar ul {
    list-style: none;
    padding-left: 5px
}

.sidebar li {
    margin: 10px;
}

.sidebar a {
    color: #30AADD;
}

.page-content {
    margin-left: 200px;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

a {
    text-decoration: none;
}