.sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
}
.sidebar ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar li {
    margin: 25px 10px;
}

.sidebar a {
    color: white;
    background-color: #30AADD;
    padding: 10px;
    border-radius: 6px;
}