.sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
}
.sidebar ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar li {
    margin: 20px auto;
    background-color: #30AADD;
    padding: 10px;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 5px;
    border-bottom-style: ridge ;
}

.sidebar li:hover {
    opacity: 0.6;
}


.sidebar a {
    color: white;
    padding: 10px 20px;
}